.button-buy {
    display: inline-block;
    background-color: #252c41;
    color: #fff;
    font-size: 20px;
    font-family: Arial, "Roboto Slab", sans-serif;
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
}
