.container-store {
    background-color: #e24647;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    padding: 55px 60px 165px 0px;
}

@media (max-width:1470px),(max-height:952px) {
    .container-store {
        position: static;
        transform: none;
        width: 95%;
        max-width: 95%;
    }
}

@media (max-height:952px) {
    .container-store {
        max-width: 1330px;
        margin-left: auto;
        margin-right: auto;
    }
}
