.container-store {
    background-color: #e24647;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
    height: 75%;
    padding: 55px 60px 95px;
}