
.header-store {
    color: #fff;
    overflow: hidden;
    margin-bottom: 138px;
    padding-left: 60px;
}

.header-store > .title {
    font-size: 40px;
    font-family: Arial, 'Roboto', sans-serif;
    float: left;
    text-transform: uppercase;
    cursor: pointer;
}

.header-store > .navigation {
    font-size: 21px;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    float: right;
}


.header-store  input[type='search'] {
    background-color: transparent;
    border-width: 0 0 1px 0;
    color: inherit;
    font-family: Arial, 'Roboto', sans-serif;
    font-size: 20px;
    padding: 8px;
    width: 360px;
    margin-right: 65px;
    vertical-align: bottom;
}


.header-store .action { 
    display: inline-block;
    text-decoration: none;
    color: inherit;
    margin: 0 60px 0 0;
    padding-bottom: 8px;
    position: relative;
}

.header-store .action::after { 
    content: "";
    display: block;
    transition: width 300ms linear;
    height: 1px;
    background-color: #fff;
    width: 0;
    position: absolute;
    bottom: 0;
}

.header-store .action:hover:after { 
    width: 100%;
}


.header-store .action:last-child {
    margin: 0;
}
