.header-store {
    color: #fff;
    overflow: hidden;
    margin-bottom: 138px;
    padding-left: 60px;
  }
  
  .header-store > .title {
    font-size: 40px;
    font-family: Arial, "Roboto", sans-serif;
    float: left;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .header-store > .navigation {
    font-size: 21px;
    font-family: "Segoe UI", "Roboto", sans-serif;
    float: right;
  }

  .header-store .search {
    max-width: 358px;
    width: 100%;
    display: inline-block;
    margin-right: 65px;
  }

  .header-store .magnifier {
    display: none;
    max-height: 40px;
    max-width: 40px;
    
  }

  .header-store [type="search"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: inherit;
    font-family: Arial, "Roboto", sans-serif;
    font-size: 20px;
    width: inherit;
    vertical-align: bottom;
    padding: 8px;
  }
  
  .header-store [type="search"]::placeholder {
    color: inherit;
  }
  
  .header-store .action {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    margin-right: 60px;
    padding-bottom: 8px;
    position: relative;
  }
  
  .header-store .action.-last {
    margin-right: 0;
  }
  
  .header-store .action:after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 200ms linear;
    transform-origin: center left;
  }
  
  .header-store .action:hover:after {
    transform: scale(1);
  }
  
  @media (max-width: 1310px) {
    .header-store {
      padding-right: 60px;
    }
  }
  
  @media (max-width: 1235px) {
    .header-store {
      margin-bottom: 70px;
    }
  
    .header-store > .title {
      float: none;
      text-align: center;
      margin-bottom: 20px;
    }
  
    .header-store > .navigation {
      float: none;
      text-align: center;
    }
  }

  @media (max-width: 1010px) {
    .header-store {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media (max-width: 955px) {
    

    .header-store .search {
        position: absolute;
        top: 0;
        left: 0;
    }

    .header-store .search{
        transform: translateX(-88%);
        transition: transform ease-in 300ms;
    }

    .header-store [type="search"] {
      background-color: #fff;
      color: #000;
      width: inherit;
    }
    
    .header-store .magnifier {
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        right: 0;
    }
    
      .header-store .search.-active img:last-of-type {
        display: inline-block;
        transition: display ease-in 400ms;
      }
    
      .header-store .search.-active img:first-of-type {
        display: none;
      }

      .header-store .search.-active {
        transform: translateX(0)
      }
    
      .header-store .search img:last-of-type {
        display: none;
      }
    
      .header-store .search img:first-of-type {
        display: inline-block;
      }

  }
  
  @media (max-width: 530px) {
    .header-store .action {
      margin-right: 30px;
    }
  }
  
  @media (max-width: 465px) {
    .header-store .action {
      margin-right: 15px;
    }
  }
  
  @media (max-width: 375px) {
    .header-store {
      padding-left: 16px;
      padding-right: 16px;
    }
  
    .header-store .action {
      margin-right: 8px;
    }
  }
  
  @media (max-width: 335px) {
    .header-store > .navigation > .action {
      display: none;
    }
  }