
.header-store {
    color: #fff;
    overflow: hidden;
    margin-bottom: 138px;
    padding-left: 60px;
}

.header-store > .title {
    font-size: 40px;
    font-family: Arial, 'Roboto', sans-serif;
    float: left;
    text-transform: uppercase;
}

.header-store > .search {
    float: right;
    width: 360px;
    margin-right: 65px;
    background-color: transparent;
    border-width: 0 0 1px 0;
    font-family: Arial, 'Roboto', sans-serif;
    font-size: 20px;
    color: inherit;
    padding-left: 7px;
    padding-bottom: 8px;
}

.header-store > .navigation {
    font-size: 21px;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    float: right;
}

.header-store .action { 
    text-decoration: none;
    color: inherit;
    height: 28px;
    margin: 0 60px 0 0;
}

.header-store .action:last-child {
    margin: 0;
}
