
.header-store {
    color: #fff;
    overflow: hidden;
}

.title {
    font-size: 40px;
    font-family: Arial, 'Roboto Slab', sans-serif;
    float: left;
}

.navigation {
    font-size: 21px;
    font-family: 'Segoe UI', 'Roboto Slab', sans-serif;
    float: right;
}

.action { 
    text-decoration: none;
    color: inherit;
    height: 28px;
    margin: 0 60px 0 0;
}

.action:last-child {
    margin: 0;
}
