html {
    height:100vh;
}
body{ 
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

header {
    color: #fff;
    background-color: #e24647;
    overflow: hidden;
    margin: 0 115px;
    padding: 55px 60px 95px;
}

h1 {
    font-size: 40px;
    font-family: Arial, 'Roboto Slab', sans-serif;
    float: left;
}

nav {
    font-size: 21px;
    font-family: 'Segoe UI', 'Roboto Slab', sans-serif;
    float: right;
}

a { 
    text-decoration: none;
    color: inherit;
    height: 28px;
    margin: 0 60px 0 0;
}