header {
    color: #fff;
    background-color: #e24647;
    overflow: hidden;
}

h1 {
    font-size: 40px;
    font-family: Arial, 'Roboto Slab', sans-serif;
    float: left;
}

nav {
    font-size: 21px;
    font-family: 'Segoe UI', 'Roboto Slab', sans-serif;
    float: right;
}

a { 
    text-decoration: none;
    color: inherit;
    height: 28px;
}