header {
    display: flex;
    background-color: #e24647;
    justify-content: space-between;
}

h1,a {
    color: #fff;
    vertical-align:middle;
}

h1 {
    font-size: 40px;
    font-family: ArialMT;
}

nav {
     font-size: 21px;
}

a {
    font-family: 'Segoe UI', Tahoma;
    text-decoration: none;
}